@import "variables";

* {box-sizing: border-box;}

body {
    @extend %body;
}

header {
    background-color: #019b98;
    height: 3em;
    
    section {
        cursor: pointer;

        div {
            @include displays(none);
            align-items:flex-start;
            
            li {
                cursor: pointer;
                list-style: none;
            }
        }
    }
}

#date {
    @include boxes(#014e60);
    visibility: hidden;
    position: fixed;
    left: 40%;
    top: 10%;
    margin-top: 3em;
    width: 20%;
    height: 50%;
    

    div {
        @include displays(flex);
        width: 100%;

        .close{
            @include buttons(black);
            @include boxes(none);
            align-self: flex-end;
        }
    }
}




main {
    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        div {
            @include displays(flex);
            @include boxes(#019b98);
            margin-top: 1em;
            padding: 2em;
            height: 100%;
            cursor: pointer;

            p {
                color: #c1ffff;
            }
        }
    }
}

#date.active {
    visibility: visible;
    transform: translate(0, 20%);
    transition: 0.5s;
    opacity: 1;
}

#header.active{
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

#main.active{
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

#footer.active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

footer {
    @extend %footer;
}